@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absolutecenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


//MEDIA QUERY MANAGER
/*
0-600PX :   MOBILE PHONE
600-900 :   TABLET POTRAIT 
900-1200:   TABLET LANDSCAPE
1200-1800: WHERE OUR CODE LIES
1800 + : :  BIG SCREENS


//BREAKPOINTS CHOICE

-PHONE
-TAB-PORT
-TAB-LAND
-BIG-DESKTOP

ORDER: Base + typography > general layout (header footer navigation)+ grid > page layout > components

1em=16px
*/

@mixin respond($breakpoint) {

    @if $breakpoint==phone {
        @media (max-width: 37.5em ) {@content};  //600px
    }

    @if $breakpoint==tab-port {
        @media (max-width: 56.25em ) {@content};   //900px
    }

    @if $breakpoint==tab-land {
        @media (max-width: 75em ) {@content};   //1200px
    }

    @if $breakpoint==big-desktop {
        @media (min-width: 112.5em ) {@content};   //1800px
    }
}


