
//Colors
$color-primary:#55c568;
$color-primary-light: #34be1c;
$color-primary-dark: #38c495;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7300;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-grey-light-1:#f7f7f7; 
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-white:#fff;
$color-black:#000;

//Fonts
$default-font-size:1.6rem;

//Grid
$grid-width:114rem;
$gutter-vertical-small:6rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
