*,
*::after,
*::before{
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}

html{
	//this defines what 1 rem is
	font-size: 62.5%;  //1rem= 10px, 10/16=62.5


	@include respond(tab-land){  //width < 1200?
		font-size: 52.25% ; //1rem = 9px,9/16=50%
	}

	@include respond(tab-port){
		font-size: 50%;  //1 rem = 8px, 8/16
	}

	@include respond(big-desktop){
		font-size: 75%; //1rem = 12, 12/16
	}

}

body{
	box-sizing: border-box;
	padding: 3rem;

	@include respond(tab-port){
		padding: 0;
	}
}