

body{
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-grey-dark;
}

.heading-primary{
	color:$color-white;

	backface-visibility: hidden;
    margin-bottom: 4rem;
    
    &--main{
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3rem;

        @include respond(phone){
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    
        animation: MoveInLeft 2s ease-out;
    }
    
    &--sub{
        display: block;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 1rem;

        @include respond(phone){
            letter-spacing: .5rem;
        }
    
    
        animation: MoveInRight 2s ease-out;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(tab-port){
        font-size: 3rem;
    }

    @include respond(phone){
        font-size: 2.5rem;
    }
    
    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.2)

    }
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;
    
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
